<!doctype html>
<html>

<head>
	<title>State tree with d3-state-visualizer</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous">
	 <link rel="stylesheet" href="index.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1">Effects Mapper visualizer</span>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
				<input class="form-control" type="search" placeholder="Search" v-model="search">

				<ul class="nav nav-pills flex-column list-group" id="effects-list">
					<li class="list-group-item" v-for="effect in filteredEffects" v-on:click="selectEffect(effect)" v-bind:class="{ active: isSelectedEffect(effect) }">
						{{ effect }}
					</li>
				</ul>
			</nav>

			<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="root"></main>
		</div>
	</div>


	<script src="/bundle.js"></script>
</body>

</html>